@model DHSEntities.ProjectResponse
@using DHS.Reconcilation.Models
@{
    ViewBag.Title = "Edit Project Status";
}
@Html.HiddenFor(m => m.projectStatusEntity.ProjectStatusId, htmlAttributes: new { @id = "ProjectStatusId" })
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Project Status Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-footer mra_edit_footer">
                <a href="Javascript:void()" title=" Save Fiscal Year " onclick="return SubmitValue()" id="btnSubmit" class="mra_edit_save">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </a>
            </div>
            <div class="modal-body">
                <div class="mrp_modalcontent">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-2 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Project&nbsp;Status</label>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.projectStatusEntity.ProjectStatus, htmlAttributes: new { @class = "form-control mrp_modalselect", @id = "ProjectStatus" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var IsExists = false;
        function SubmitValue() {
            if (document.getElementById("ProjectStatus").value == "") {
                alert("Please enter project status.");
                document.getElementById("ProjectStatus").focus();
                return false;
            }
            else {
                var projectStatusEntity = {
                    ProjectStatusId: document.getElementById("ProjectStatusId").value,
                    ProjectStatus: document.getElementById("ProjectStatus").value
                };
                var projectRequest = {
                    projectStatusEntity: projectStatusEntity
                };

                $.ajax({
                    url: "/ProjectStatus/CheckProjectStatus",
                    type: "POST",
                    data: projectRequest,
                    dataType: 'json',
                    success: function (result) {
                        if (result.projectStatusEntity.ProjectStatusCount != 0) {
                            alert("This project status is already exists in the System. Please enter the other one.");
                            return false;
                        }
                        else {
                            IsExists = true;
                            //SaveValues();
                        }
                    },
                    complete: function () {

                    }
                });
            }
            if (IsExists)
                SaveValues();
            return true;
        }

        function SaveValues() {
            var projectStatusEntity = {
                ProjectStatusId: document.getElementById("ProjectStatusId").value,
                ProjectStatus: document.getElementById("ProjectStatus").value,
                ModifiedBy:@Common.GetSession("UserID"),
            };
            var projectRequest = {
                projectStatusEntity: projectStatusEntity
            };

            $.ajax({
                url: "/ProjectStatus/SaveProjectStatus",
                type: "POST",
                data: projectRequest,
                dataType: 'json',
                success: function (result) {
                    window.location.reload();
                },
                complete: function () {

                }
            });
        }
    </script>
