@model DHSEntities.StatusResponse

@{
    ViewBag.Title = "DHS Reconcilation Application :: Manage Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}
@using (Html.BeginForm("ManageStatus", "Status", FormMethod.Post, new { @id = "frmStatus" }))
{
    <title>@ViewBag.Title</title>
    <input type="hidden" id="hdnStatusId" name="hdnStatusId" />
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <!-- top tiles -->
            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_content">
                        <h2>View Fiscal Years</h2>
                        <form class="mrp_selectdetails form-inline">
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mrp_table-row">
                <div class="col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="mrp_contentbody mrp_contenttable">
                            <div class="mrp_table">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="margin-left:1px; margin-right:1px;">
                                                Action
                                            </th>
                                            <th nowrap>
                                                Fiscal Year
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{foreach (var item in Model.statusEntities)
                                            {
                                                <tr>
                                                    <td nowrap>
                                                        @if (Model.rolePermissionEntity.ViewBit)
                                                        {
                                                            <img src="~/images/view-icon.png" class="img-responsive" onclick="ViewStatusInformation('@item.StatusId')" style="cursor:pointer;" alt="View Status Information" />
                                                        }
                                                        else
                                                        {
                                                                <img src="~/images/view-icon.png" alt="View Status Information"  class="img-responsive disableButton" onclick="JavaScript:alert('You do not have permission to View status information. Contact Administrator for access.')" />                      
                                                        }                                                        
                                                    </td>
                                                    <td nowrap>
                                                        @item.StatusName
                                                    </td> 
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <!-- popup -->
                                <div class="modal fade mrp_modalpopup" id="StatusModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /top tiles -->
                </div>
            </div>
            <!-- /page content -->
            <div id="container" class="mra_pagination">
                <div class="pagination">
                    
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">

        $(document).ready(function () {
            $('#mra_subliS').addClass('active');
        });

        function SelectedIndexChanged() {
            if ($("#SearchOn").val() != "" & $("#txtSearch").val() == "") {
                alert("Please enter value to search");
                $("#txtSearch").focus();
            }
            else {
                $('#frmStatuss').submit();
            }
        }

        function ViewStatusInformation(statusId) {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Status/ViewStatus/" + statusId,
                dataType: "html",
                success: function (evt) {
                    $('#StatusModal').html(evt);
                    $('#StatusModal').modal(options);
                    $('#StatusModal').modal('show');
                },
                error: function (req, status, error) {
                    alert(error);
                    alert("Error!Occured");
                }
            });
        }
    </script>
}